@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .headerLinkBars {
    @apply flex justify-between items-center gap-[50px] md:gap-[16px] py-[19px] px-[26px] md:py-[17px] md:px-[24px] bg-[#F7F9FF] rounded-2xl max-w-full md:max-w-fit;
  }

  .custom-container {
    @apply max-w-[1200px] mx-auto;
  }

  .stats-card {
    @apply flex flex-col items-center text-center gap-[5px];
  }

  .stats-card-text {
    @apply text-[#5C5E6A] font-black text-base leading-[24px];
  }

  /* hide scrollbar */
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}
